<!doctype html>
<html ng-app="SRUApp">
<head>
    <!-- angular and base modules -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular-resource.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular-route.js"></script>

</head>
<body>
<div ng-app="SRUApp" ng-controller="listController">

    <input ng-model="query"/>

    <button ng-click="getResponse()">Press for query</button>

    <ul>
        <li ng-repeat="record in results.records.record">
            {{ record.recordData.data.title }}
        </li>
    </ul>

    <facets></facets>

    <pre>{{ results | json }}</pre>

</div>

<script src="js/controllers/controller.js"></script>
<!--<script src="js/services/services.js"></script>-->

</body>
</html>