<ul>
    <li ng-repeat="facet in results.facetedResults[0].facet">
        {{ facet.facetDisplayLabel }}
        <ul>
            <li ng-repeat="term in facet.terms.term">
                {{ term.actualTerm }} ({{term.count}})
            </li>
        </ul>
    </li>
</ul>